figure {
	width: 100%;
    height: auto;
	overflow: hidden;
}

.galeria__img figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.galeria__img figure:hover img {
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

.imagenFull {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.imagenFull:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}