.contacto {
    background-color: $colorPrincipal;
    color: $colorBlanco;
    height: 100%;
    align-content: center;
    margin: 5rem 0 5rem 0;
    border-bottom: solid 5px $colorNegro;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "texto form";
}

.escribinos{
    grid-area: texto;
    margin: 3rem;
}

.escribinos__titulo {
    font-family: $tipografiaTitulos;
    font-size: $medidaTitulos;
}

.escribinos__parrafo {
    font-family: $tipografiaTextos;
    font-size: $medidaTextos;
}

.escribinos__mail {
    @extend .escribinos__parrafo;
    
    i {
    margin-top: 1rem; 
    padding-right: .6rem;
    }
}

.formulario {
    grid-area: form;
    font-size: .9rem;
    margin: 3rem;

    input {
        width: 100%;
        height: 2rem;
        padding: .6rem;
        margin-bottom: 0.9rem;
    }
    
    textarea {
        width: 100%;
        height: 9.3rem;
        padding: .6rem;
        margin-bottom: 0.9rem;
    }
}

.formulario__botonEnviar{
    @include estilosTextos($tipografiaTextos, $medidaTextos, $colorBlanco);
    display: inline-block;
    width: 100%;
    border: 1px solid $colorBlanco;
    background-color: $colorPrincipal;
}

.formulario__botonEnviar:hover{
    color: $colorPrincipal;
    background-color: $colorBlanco;
}

@media (min-width: 770px) and (max-width: 990px){
    .contacto {
        height: 100%;
        margin: 2rem 0 2rem 0;
        grid-template-columns: 100%;
        grid-template-rows: 45% 55%;
        grid-template-areas: 
        "texto"
        "form";
    }

    .escribinos{
        margin: 2rem;
    }

    .formulario {
        margin: 2rem;
    }
}

@media(max-width:770px){
    .contacto {
        height: 100%;
        margin: 2rem 0 2rem 0;
        grid-template-columns: 100%;
        grid-template-rows: 45% 55%;
        grid-template-areas: 
        "texto"
        "form";
    }

    .escribinos {
        margin: 1.6rem;
    }

    .escribinos__titulo {
        font-size: $medidaTitulosMobile;
    }
    
    .escribinos__parrafo {
        font-size: $medidaTextosMobile;
    }

    .formulario {
        margin: 1.6rem;
    }
}