.footer {
    @include estilosTextos($tipografiaTextos, $medidaTextos, $colorBlanco);
    background-color: $colorNegro;
    padding: 3rem 0 3rem 0;
}

.footer__contenedor {
    @extend .navegacion__contenedor;
}

.footer__redesSociales {   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    list-style: none;
    padding: 0;

    i{
        color:$colorBlanco;
    }

    i:hover {
        color:$colorPrincipal;
    }
}

@media (min-width: 770px) and (max-width: 990px){
    .footer {
        padding: 2rem 0 1rem 0;
    }

    .footer .contenedor {
        flex-direction: column;
        width: 80%;
    }

    .footer__derechos {
        width: 100%;
        text-align: center;
    }
    
    .footer__redesSociales { 
        width: 60%;
        margin-top: .2rem;
        justify-content: space-around;
    }
}

@media(max-width:770px){
    .footer {
        font-size: $medidaTextosMobile;
        padding: 2rem 0 1rem 0;
    }

    .footer .contenedor {
        flex-direction: column;
        width: 80%;
    }

    .footer__derechos {
        width: 100%;
        text-align: center;
    }
    
    .footer__redesSociales { 
        width: 60%;
        margin-top: .2rem;
        justify-content: space-around;
    }
}
  