.sucursal{
    background-color: $colorNegro;
    position: relative;
    margin: 5rem 0 5rem 0;
    border-bottom: solid 5px $colorPrincipal;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50vh 20vh 20vh 10vh;
    grid-template-areas: 
    "mapa local"
    "mapa titulo"
    "mapa direccion"
    "mapa telefono";
}

.sucursal__mapa iframe{
    position: absolute;
    grid-area: mapa;
    width: 100%;
    height: 100%;
}

.sucursal__local{
    grid-area: local;
    @include estilosTextos($tipografiaTextos, .9rem, $colorPrincipal);
    font-weight: 700;
    text-transform: uppercase; 
    padding: 0 1.2rem 0 1.2rem;
    margin-top: 1.2rem;
}

.sucursal__titulo{
    grid-area: titulo;
    @include estilosTextos($tipografiaTitulos, $medidaTitulos, $colorPrincipal);
    width: 100%;
    padding: 0 1.2rem 0 1.2rem;
}

.sucursal__direccion{
    grid-area: direccion;
    @include estilosTextos($tipografiaTextos, $medidaTextos, $colorBlanco);
    width: 100%;
    padding: 0 1.2rem 0 1.2rem;

    i{
        padding-right: .6rem;
    }
}

.sucursal__telefono{
    @extend .sucursal__direccion;
    grid-area: telefono;
}

@media (min-width: 770px) and (max-width: 990px){
    .sucursal{
        margin: 2rem 0 2rem 0;
        grid-template-columns: 100%;
        grid-template-rows: 30vh 20vh 10vh 10vh 10vh;
        grid-template-areas: 
        "mapa"
        "local"
        "titulo"
        "direccion"
        "telefono";
    }

    .sucursal__mapa iframe{
        width: 100%;
        height: 100%;
    }
}

@media(max-width:770px){
    .sucursal{
        margin: 2rem 0 2rem 0;
        grid-template-columns: 100%;
        grid-template-rows: 30vh 20vh 10vh 10vh 10vh;
        grid-template-areas: 
        "mapa"
        "local"
        "titulo"
        "direccion"
        "telefono";
    }

    .sucursal__mapa iframe{
        width: 100%;
        height: 100%;
    }

    .sucursal__titulo{
        font-size: $medidaTitulosMobile;
    }

    .sucursal__direccion{
        font-size: $medidaTextosMobile;
    }
   
    .sucursal__telefono{
        font-size: $medidaTextosMobile;
    }
}