$colorPrincipal: #1e7172;
$colorBlanco: #ffffff;
$colorNegro: #000000;
$tipografiaTitulos: 'Trocchi';
$tipografiaTextos: 'Source Sans Pro';
/*Medidas Textos Desktop*/
$medidaTitulos: 2.5rem;
$medidaTextos: 1.25rem;
/*Medidas Textos Mobile*/
$medidaTitulosMobile: 1.5rem;
$medidaTextosMobile: .9rem;
